.button-large {
    width: 100%;
    font-size: 12px;
    text-align: center;
    border: 1px solid gray;
    height: 50px;
    line-height: 50px;
    margin: 0 0;
    padding: 0 0;
    background-color: #F4F4F4;
}

.button-large:hover {
    background-color: #CACACA;
}