.container-inline {
    display: inline-block;
    width: 45px;
    margin-left: 5px;
}

.container-inline--border {
    border: 1px solid grey;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 15px;
    width: 220px;
    text-align: center;
}