body {
    margin: 0px 0px;
}

.button {
    padding: 8px 6px;
    font-family: sans-serif;
    font-size: 14px;
}

.button:hover {
    background: whitesmoke;
}

#queue-view {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
}

#search-terms {
    overflow-y: auto;
    width: 100%;
    height: 86%;
}

#header {
    font-size: 20px;
    font-weight: bold;
    background: whitesmoke;
    border: 1px solid lightgray;
    padding: 10px 10px;
}

#back {
    background: whitesmoke;
    border: 1px solid lightgray;
}

#back:hover {
    background: lightgray;
}