body {
    font-family: sans-serif;
}

.main-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.background-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    text-align: center;
}

.command:hover {
    background: #F4F4F4;
}

.command {
    margin: 5px 5px;
    padding: 0 0;
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    border-radius: 40px;
    background-color: white;
}

.button-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.import-buttons {
    margin: 10px 5px;
}

.constant-container {
    outline: 1px solid gray;
    margin: 10px 0;
    padding: 5px;
    line-height: 50px;
    text-align: left;
    height: 50px;
}

.constant-input {
    padding: 5px 5px;
    width: 213px;
}

.constant-label {
    margin: 0 0 0 0;
    width: 50px;
    float: left;
}

.search-container {
    outline: 1px solid gray;
    margin: 10px 0;
    height: 50px;
    line-height: 50px;
}

.dragged-over {
    border-top: 1px solid blue;
}

.search-input {
    padding: 5px 5px;
    width: 220px;
}

.delete-term-button {
    text-align: center;
    padding: 0 0;
    margin: 0 10px 0 0;
    border: none;
    height: 20px;
    width: 20px;
    background-color: white;
}

.delete-term-button:hover {
    background-image: url("/resources/images/delete.png");
    background-size: 20px 20px;
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
}

.term-header {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background: #F4F4F4;
    border: 1px solid gray;
    margin: 5px 0 10px 0;
    height: 50px;
    line-height: 50px;
}

#header {
    font-weight: bold;
    text-align: center;
    background: #F4F4F4;
    border: 1px solid #CACACA;
    padding: 10px 10px;
    margin: 0 0 5px 0;
}

#add-term:hover {
    background: #F4F4F4;
}