body {
    font-family: sans-serif;
}

input[type=text] {
    padding: 5px 5px;
    width: 100%;
}

.main-container {
    padding: 10px 0px;
}

.input-title {
    width: 100%;
    text-align: left;
    padding: 10px 0px;
    margin: 0px;
}

#term-container {
    width: 300px;
    margin: 0 auto;
}

#import-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    text-align: center;
}

#header {
    font-weight: bold;
    text-align: center;
    background: whitesmoke;
    border: 1px solid lightgray;
    padding: 10px 10px;
    margin: 0px 0px;
}